@layer components {
  // general styles
  .btn {
    @apply cursor-pointer px-5 py-2.5 rounded-md font-bold text-lg border-0;
    &.btn-sm {
      @apply px-4 py-2 text-base rounded-md;
    }
    &.btn-primary {
      @apply text-white bg-primary-500 hover:bg-primary-700;
    }
    &.btn-outline {
      @apply border rounded-none hover:bg-black hover:bg-opacity-10;
    }
  }
  .dropdown {
    @apply relative flex flex-col text-start;

    .menu {
      @apply bg-neutral-900 text-white lg:px-2 transition-all max-h-96 lg:absolute mt-2 w-full lg:w-max;

      &.closed {
        @apply max-h-0 overflow-hidden;
      }
    }
  }

  // form styles
  .input {
    @apply bg-neutral-800 border border-neutral-500 text-white rounded-md block p-4 w-full outline-none;
    &.outlined {
      @apply rounded-none bg-transparent;
    }
  }
  .textarea {
    @apply bg-neutral-800 border border-neutral-500 text-white rounded-md block p-4 w-full outline-none;
  }

  // icon styles
  svg.icon {
    @apply w-6 h-6;
  }
}
section {
  @apply py-12;
}
//

.slick-slider {
  .slick-prev,
  .slice-next {
    z-index: 10;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}
